.Header {
	@apply flex flex-row items-center justify-between;
	@apply p-6;
	@apply bg-gray-800 text-white;
}

.Navbar {
	@apply w-[10%];
	@apply bg-gray-500;
	@apply text-white;
	animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
	0% {
		width: 0;
	}
	100% {
		/* transform: translateX(0); */
		width: 10%;
	}
}
