node_modules

.vscode/

/.cache
/.wrangler
/build
/public/build
.env

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/*.module.css*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
coverage/
