.Grid {
	@apply flex-1;
	@apply m-3;
}

.Box {
	@apply flex flex-col justify-center content-center;
	@apply text-center;
	@apply bg-blue-100;
	@apply text-black;

	&:hover {
		@apply bg-blue-200;
		cursor: pointer;
	}
}

.Box > a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
