.Page {
	@apply h-full flex flex-col;
	@apply bg-primary-2;

	.Wrapper {
		@apply mx-auto w-full max-w-7xl grow lg:flex xl:px-2 text-center;
		@apply my-0 md:my-8 lg:my-16;
		@apply gap-3;
		@apply flex flex-col lg:flex-row;

		.LeftAndMain {
			@apply flex flex-1 flex-col-reverse xl:flex-row;
			@apply justify-end;
			@apply gap-3;

			.Left {
				@media (min-width: 1280px) {
					writing-mode: vertical-rl;
					text-orientation: upright;
					letter-spacing: -0.1em;
				}

				@apply text-xl;
				@apply font-bold;
				@apply bg-primary-4 hover:bg-primary-5;
				@apply hover:cursor-pointer;
				@apply flex-1 xl:flex-none;
				@apply px-4 py-6 sm:px-6 lg:pl-8 xl:w-64 xl:shrink-0 xl:pl-6;

				p {
					@apply flex flex-col;
					@apply justify-center;
					width: 100%;
					height: 100%;
				}
			}

			.Main {
				@apply flex flex-col justify-around;
				@apply px-4 py-6 sm:px-6 lg:pl-8 flex-1 xl:pl-6;
				@apply bg-gray-6;
			}
		}

		.Right {
			@apply flex-1 lg:flex-none;
			@apply shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-96 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6;
			@apply bg-primary-4;
			// @apply hover:cursor-pointer;

			h1 {
				@apply text-xl;
				@apply font-bold;
			}
		}
	}
}

.LinkList {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	li {
		@apply text-lg;
		display: flex;
		flex-direction: column;
		flex: 1 1 0%;

		a {
			flex: 1 1 0%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&:hover {
				background-color: var(--primary-5);
			}
		}
	}
}
